<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>miało działać</title>
</head>

<body>
<hr>
<!-- <form action="/success" enctype="multipart/form-data" method="POST">
   <input type="text" name="name" placeholder=" imie "> <br>
   <input type="text" name="surname" placeholder="nazwisko "> <br>
   <input type="submit" value="Click me">
</form> -->
<!--        <input type="text" name="name" placeholder=" imie ">-->
<!--        <button onclick="wysylkaJSON()">kliknij to wysle json</button>-->

<input type="text" id="surname" name="name" placeholder=" imie "> <br>
<input type="text"id="name" name="surname" placeholder="nazwisko "> <br>
<button onclick="mnich()">kliknij to wysle json</button>
        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
           var url = "192.168.0.134:8080";

var xhr = new XMLHttpRequest();
xhr.open("POST", url);

xhr.setRequestHeader("Accept", "application/json");
xhr.setRequestHeader("Content-Type", "application/json");

xhr.onreadystatechange = function () {
   if (xhr.readyState === 4) {
      console.log(xhr.status);
      console.log(xhr.responseText);
   }};

var data = `{
  "Id": 78912,
  "Customer": "Jason Sweet",
  "Quantity": 1,
  "Price": 18.00
}`;

xhr.send(data);
           //AJax senior comment scripter jtr 
        </script>
   
    <!--autor Paweł Kuczmik czyli paweltheriperr i krzychu Wandzel  czyli ja **/--> 
</body>
</html>